name: Continuous Integration

# This action works with pull requests and pushes
# This action works with ALL branches
on:
  push:
  pull_request:

jobs:
  continuous_integration:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: "pnpm"

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: ESLint
        run: pnpm run lint

      - name: Prettier
        run: pnpm run prettier-check

      - name: TypeScript Compiler
        run: pnpm run type-check

      - name: Next.js Build
        run: pnpm run build
